In [2]:
#import pandas
import pandas as pd

In [3]:
#Read in  the dataset
hotel_bookings = pd.read_csv('hotel_bookings.csv')

In [8]:
#First, look at the dataset
hotel_bookings

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,-1,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,-1,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,-1,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [9]:
#Drop/rename columns
hotel_bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [21]:
hotel_bookings.rename({'adults': 'num_adults', 'children': 'num_children', 'babies': 'num_babies'}, axis=1, inplace=True)
hotel_bookings.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,-1,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,-1,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,-1,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [31]:
#NANs
hotel_bookings.isnull().sum() *100 / len(hotel_bookings)

hotel                             0.0
is_canceled                       0.0
lead_time                         0.0
arrival_date_year                 0.0
arrival_date_month                0.0
arrival_date_week_number          0.0
arrival_date_day_of_month         0.0
stays_in_weekend_nights           0.0
stays_in_week_nights              0.0
num_adults                        0.0
num_children                      0.0
num_babies                        0.0
meal                              0.0
country                           0.0
market_segment                    0.0
distribution_channel              0.0
is_repeated_guest                 0.0
previous_cancellations            0.0
previous_bookings_not_canceled    0.0
reserved_room_type                0.0
assigned_room_type                0.0
booking_changes                   0.0
deposit_type                      0.0
agent                             0.0
days_in_waiting_list              0.0
customer_type                     0.0
adr                               0.0
required_car_parking_spaces       0.0
total_of_special_requests         0.0
reservation_status                0.0
reservation_status_date           0.0
dtype: float64

In [12]:
hotel_bookings['agent'].unique()

array([ -1, 304, 240, 303,  15, 241,   8, 250, 115,   5, 175, 134, 156,
       243, 242,   3, 105,  40, 147, 306, 184,  96,   2, 127,  95, 146,
         9, 177,   6, 143, 244, 149, 167, 300, 171, 305,  67, 196, 152,
       142, 261, 104,  36,  26,  29, 258, 110,  71, 181,  88, 251, 275,
        69, 248, 208, 256, 314, 126, 281, 273, 253, 185, 330, 334, 328,
       326, 321, 324, 313,  38, 155,  68, 335, 308, 332,  94, 348, 310,
       339, 375,  66, 327, 387, 298,  91, 245, 385, 257, 393, 168, 405,
       249, 315,  75, 128, 307,  11, 436,   1, 201, 183, 223, 368, 336,
       291, 464, 411, 481,  10, 154, 468, 410, 390, 440, 495, 492, 493,
       434,  57, 531, 420, 483, 526, 472, 429,  16, 446,  34,  78, 139,
       252, 270,  47, 114, 301, 193, 182, 135, 350, 195, 352, 355, 159,
       363, 384, 360, 331, 367,  64, 406, 163, 414, 333, 427, 431, 430,
       426, 438, 433, 418, 441, 282, 432,  72, 450, 180, 454, 455,  59,
       451, 254, 358, 469, 165, 467, 510, 337, 476, 502, 527, 479, 508,
       535, 302, 497, 187,  13,   7,  27,  14,  22,  17,  28,  42,  20,
        19,  45,  37,  61,  39,  21,  24,  41,  50,  30,  54,  52,  12,
        44,  31,  83,  32,  63,  60,  55,  56,  89,  87, 118,  86,  85,
       210, 214, 129, 179, 138, 174, 170, 153,  93, 151, 119,  35, 173,
        58,  53, 133,  79, 235, 192, 191, 236, 162, 215, 157, 287, 132,
       234,  98,  77, 103, 107, 262, 220, 121, 205, 378,  23, 296, 290,
       229,  33, 286, 276, 425, 484, 323, 403, 219, 394, 509, 111, 423,
         4,  70,  82,  81,  74,  92,  99,  90, 112, 117, 106, 148, 158,
       144, 211, 213, 216, 232, 150, 267, 227, 247, 278, 280, 285, 289,
       269, 295, 265, 288, 122, 294, 325, 341, 344, 346, 359, 283, 364,
       370, 371,  25, 141, 391, 397, 416, 404, 299, 197,  73, 354, 444,
       408, 461, 388, 453, 459, 474, 475, 480, 449])

In [29]:
hotel_bookings[hotel_bookings['num_children'].isna()]
hotel_bookings[hotel_bookings['agent']==8]
hotel_bookings['agent'] = hotel_bookings['agent'].fillna(-1).astype(int)

hotel_bookings[hotel_bookings['num_children'].isna()]
hotel_bookings[hotel_bookings['country'].isna()][['hotel', 'is_canceled','country']]

hotel_bookings['country'] = hotel_bookings['country'].fillna('Unknown')
hotel_bookings.dropna(subset=['num_children'], inplace=True)

In [30]:
hotel_bookings.drop(columns=['company'], inplace=True)

In [32]:
# check column datatypes
hotel_bookings.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
num_adults                          int64
num_children                      float64
num_babies                          int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                               int32
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [33]:
hotel_bookings['is_canceled']

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: is_canceled, Length: 119386, dtype: int64

In [34]:
hotel_bookings = hotel_bookings.astype({'is_canceled': 'boolean', 'is_repeated_guest': 'boolean', 'num_children': 'int'})
hotel_bookings .dtypes

hotel                              object
is_canceled                       boolean
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
num_adults                          int64
num_children                        int32
num_babies                          int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                 boolean
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                               int32
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [38]:
# Bin or group columns 
hotel_bookings['lead_time'].unique()
hotel_bookings['lead_time'].describe()

bins = [0, 100, 200, 300, 400, 500, 600, 700, 800]
labels = ['0-100','101-200','201-300','301-400', '401-500', '501-600', '601-700', '701-800']

hotel_bookings['lead_time_binned'] = pd.cut(hotel_bookings['lead_time'], bins= bins, labels=labels)

hotel_bookings[['lead_time', 'lead_time_binned']]

        lead_time lead_time_binned
0             342          301-400
1             737          701-800
2               7            0-100
3              13            0-100
4              14            0-100
...           ...              ...
119385         23            0-100
119386        102          101-200
119387         34            0-100
119388        109          101-200
119389        205          201-300

[119386 rows x 2 columns]

In [49]:
hotel_bookings.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,num_adults,...,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned,arrival_date
0,Resort Hotel,False,342,2015,7,27,1,0,0,2,...,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400,2015-07-01
1,Resort Hotel,False,737,2015,7,27,1,0,0,2,...,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800,2015-07-01
2,Resort Hotel,False,7,2015,7,27,1,0,1,1,...,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100,2015-07-01
3,Resort Hotel,False,13,2015,7,27,1,0,1,1,...,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100,2015-07-01
4,Resort Hotel,False,14,2015,7,27,1,0,2,2,...,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100,2015-07-01

In [79]:
print(hotel_bookings.columns)

Index(['hotel', 'is_canceled', 'lead_time', 'original_arrival_month',
       'original_arrival_year', 'arrival_date_week_number',
       'original_arrival_day', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'num_adults', 'num_children', 'num_babies',
       'meal', 'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'lead_time_binned',
       'arrival_date'],
      dtype='object')

In [84]:
print(hotel_bookings.columns[hotel_bookings.columns.duplicated()])
hotel_bookings = hotel_bookings.loc[:, ~hotel_bookings.columns.duplicated()]

Index(['original_arrival_month', 'original_arrival_year'], dtype='object')

In [86]:
for i, col in enumerate(hotel_bookings.columns):
    print(i, col)

0 hotel
1 is_canceled
2 lead_time
3 original_arrival_month
4 original_arrival_year
5 arrival_date_week_number
6 original_arrival_day
7 stays_in_weekend_nights
8 stays_in_week_nights
9 num_adults
10 num_children
11 num_babies
12 meal
13 country
14 market_segment
15 distribution_channel
16 is_repeated_guest
17 previous_cancellations
18 previous_bookings_not_canceled
19 reserved_room_type
20 assigned_room_type
21 booking_changes
22 deposit_type
23 agent
24 days_in_waiting_list
25 customer_type
26 adr
27 required_car_parking_spaces
28 total_of_special_requests
29 reservation_status
30 reservation_status_date
31 lead_time_binned
32 arrival_date

In [88]:
#Combine to Create arrival_date
hotel_bookings['arrival_date'] = pd.to_datetime(
    hotel_bookings['original_arrival_day'].astype(str) + ' ' +
    hotel_bookings['original_arrival_month'].astype(str) + ' ' +
    hotel_bookings['original_arrival_year'].astype(str),
    format='%d %B %Y',  # Use '%d %b %Y' if month is abbreviated like "Jan"
    errors='coerce'
)

In [81]:
#Separate columns
#hotel_bookings['arrival_date_month'] = hotel_bookings['arrival_date'].str.split('-', expand=True)[0]
#hotel_bookings['arrival_date_year '] = hotel_bookings['arrival_date'].str.split('-', expand=True)[1]
#hotel_bookings.head()

# 1. Extract year and month from arrival_date
hotel_bookings['arrival_date_year'] = hotel_bookings['arrival_date'].dt.year
hotel_bookings['arrival_date_month'] = hotel_bookings['arrival_date'].dt.month

# 2. Move 'arrival_date_month' to 4th column
month_col = hotel_bookings.pop('arrival_date_month')
hotel_bookings.insert(3, 'arrival_date_month', month_col)

# 3. Move 'arrival_date_year' to 5th column (which becomes 4th after above)
year_col = hotel_bookings.pop('arrival_date_year')
hotel_bookings.insert(4, 'arrival_date_year', year_col)

# 4. Rename columns (only existing ones)
hotel_bookings.rename(columns={
    'arrival_date_month': 'original_arrival_month',
    'arrival_date_year': 'original_arrival_year'
}, inplace=True)

In [57]:
hotel_bookings.head()

,hotel,is_canceled,lead_time,original_arrival_month,original_arrival_month,original_arrival_year,original_arrival_month,original_arrival_year,arrival_date_week_number,original_arrival_year,...,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,lead_time_binned,arrival_date
0,Resort Hotel,False,342,7,7,2015,7,2015,27,2015,...,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,301-400,2015-07-01
1,Resort Hotel,False,737,7,7,2015,7,2015,27,2015,...,-1,0,Transient,0.0,0,0,Check-Out,2015-07-01,701-800,2015-07-01
2,Resort Hotel,False,7,7,7,2015,7,2015,27,2015,...,-1,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100,2015-07-01
3,Resort Hotel,False,13,7,7,2015,7,2015,27,2015,...,304,0,Transient,75.0,0,0,Check-Out,2015-07-02,0-100,2015-07-01
4,Resort Hotel,False,14,7,7,2015,7,2015,27,2015,...,240,0,Transient,98.0,0,1,Check-Out,2015-07-03,0-100,2015-07-01

In [60]:
print(hotel_bookings.columns)

Index(['hotel', 'is_canceled', 'lead_time', 'original_arrival_month',
       'original_arrival_year', 'arrival_date_week_number',
       'original_arrival_day', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'num_adults', 'num_children', 'num_babies',
       'meal', 'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'lead_time_binned',
       'arrival_date'],
      dtype='object')

In [59]:
hotel_bookings = hotel_bookings.loc[:,~hotel_bookings.columns.duplicated()]

In [67]:
#String Cleaning
hotel_bookings.loc[:, 'hotel'] = hotel_bookings['hotel'].replace(r"[\*\n\^]", '', regex=True)
hotel_bookings['hotel'].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [72]:
#Removing Duplicates

hotel_bookings.loc[hotel_bookings.duplicated(keep=False)]
hotel_bookings = hotel_bookings.drop_duplicates(keep="")

In [74]:
hotel_bookings.loc[hotel_bookings.duplicated(keep=False)]

Empty DataFrame
Columns: [hotel, is_canceled, lead_time, original_arrival_month, original_arrival_year, arrival_date_week_number, original_arrival_day, stays_in_weekend_nights, stays_in_week_nights, num_adults, num_children, num_babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date, lead_time_binned, arrival_date]
Index: []

[0 rows x 33 columns]